<!-- Modal -->
<div class="modal fade" id="modalExcludeOrigin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Bebas Neue',  cursive;">Excluir origem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="botao-fechar-origin">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

                    <div class="container-fluid" style="padding: 5%;justify-content: center; text-align: center ">
                        <div class="alert alert-info mb-4" role="alert" style="font-family: 'Poppins', sans-serif;font-size:0.7em ">
                           Selecione as opções abaixo e escolha um dos métodos de exclusão de origens de dados.
                        </div>

                        <input type="checkbox" name="permanent_exclusion" style="width: 1.5em; height: 1.5em;" onchange="handleCheckboxChange(this, 'subs_exclusion', 'permanent_exclusion_div', 'subs_exclusion_div')">
                        <input type="checkbox" name="subs_exclusion" style="width: 1.5em; height: 1.5em;"  onchange="handleCheckboxChange(this, 'permanent_exclusion', 'subs_exclusion_div', 'permanent_exclusion_div')">
                    </div>

                    <div class="container-fluid" style="padding: 5%;justify-content: center; text-align: center ">
                        <div id="permanent_exclusion_div" style="display: block;">
                            <form method="post" action="{% url 'originsExcludeAll'  %}">
                                {% csrf_token %}
                                <input type="hidden" class="originId" name="originId" readonly>
                                <label for="permanent_exclusion_div" style="font-family: 'Signika Negative', sans-serif;">Essa opção excluirá a origem e todas as métricas desta origem</label> <br>
                                <button type="submit" class="btn btn-danger mt-2" id="originsExcludeAll" style="font-family: 'Poppins', sans-serif;"><i class="fa-solid fa-trash"></i> Excluir!</button>
                            </form>
                        </div>

                        <div id="subs_exclusion_div" style="display: none;">
                            <form method="post" action="{% url 'originsExcludeSub'  %}">
                                {% csrf_token %}
                                <input type="hidden" class="originId" name="originId" readonly>
                                <label for="subs_exclusion_div" style="font-family: 'Signika Negative', sans-serif;">A origem será excluída e substuída em suas antigas métricas por outra origem!</label> <br>


                                <select id="replacement_select" name="replacement_select" class="form-control" style="font-family: 'Signika Negative', sans-serif;">
                                    {% for o in origins %}
                                        <option value="{{ o.id }}">{{ o.nome }}</option>
                                    {% endfor %}
                                </select>

                                <button type="submit" class="btn btn-warning mt-2" style="font-family: 'Poppins', sans-serif;"><i class="fa-solid fa-rotate"></i> Substituir!</button>
                            </form>
                        </div>
                    </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="font-family: 'Signika Negative', sans-serif;" data-dismiss="modal" id="botao-cancelar-origin">Cancelar</button>
      </div>
    </div>
  </div>
</div>

