    <div class="modal fade" style="box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);  border: 1px solid #fff;" id="modalSucesso" tabindex="-1" role="dialog" aria-labelledby="modalSucesso" aria-hidden="true">
      <div class="modal-dialog" role="document" style="">
        <div class="modal-content" style="color: white;  background-image: linear-gradient(to left top, #10d42a, #0db925, #0b9e20, #0a841b, #096b16);">
          <div class="modal-header" style="color: white;  background-image: linear-gradient(to left top, #10d42a, #0db925, #0b9e20, #0a841b, #096b16);">
            <h5 class="modal-title" id="modalSucesso-titulo" style="color: white; font-family: 'Bebas Neue', cursive; justify-content: center;font-size: 2em; text-align: center">Operação realizada com sucesso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="botao-fechar-sucesso">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-color: white; color: black">
              <p style="font-family: 'Signika Negative', sans-serif;" id="mensagemsucesso"></p>
          </div>
          <div class="modal-footer" style="background-color: white; color: black">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="botao-cancelar-sucesso" style="font-family: 'Signika Negative', sans-serif;; background-image: linear-gradient(to left top, #03133e, #0a0f32, #0c0a26, #09051b, #02000e);">OK!</button>
          </div>
        </div>
      </div>
    </div>
