    <div class="modal fade" id="modal-deletar-metrica" tabindex="-1" role="dialog" aria-labelledby="modal-deletar-metrica" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-deletar-metrica-titulo" style="font-family: 'Bebas Neue',  cursive;">Deletar métrica</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="botao-fechar-deletar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Você tem certeza que deseja deletar esta métrica? <strong>Todos os valores de treino ao modelo cadastrados à esta métrica serão perdidos!</strong></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="botao-cancelar-deletar" style="font-family: 'Poppins', sans-serif;">Cancelar</button>
            <button type="button" class="btn btn-danger" id="botao-deletar" style="font-family: 'Poppins', sans-serif;">Deletar</button>
          </div>
        </div>
      </div>
    </div>
