    <div class="modal fade" id="modalDeletarProjeto" tabindex="-1" role="dialog" aria-labelledby="modal-deletar-projeto" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-deletar-projeto-titulo" style="font-family: 'Bebas Neue',  cursive;">Encerrar projeto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="botao-fechar-deletar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p style="font-family: 'Signika Negative', sans-serif;">Você tem certeza que deseja encerrar este projeto? <strong style="font-family: 'Signika Negative', sans-serif;">As métricas que foram cadastradas neste projeto serão perdidas, bem como as informações destas métricas. </strong></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="font-family: 'Signika Negative', sans-serif;" data-dismiss="modal" id="botao-cancelar-deletar">Cancelar</button>
            <button type="button" class="btn btn-danger" style="font-family: 'Signika Negative', sans-serif;" id="botao-deletar">Encerrar</button>
          </div>
        </div>
      </div>
    </div>
