<!-- Modal -->
<div class="modal fade" id="modalViewMetricOrigin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Bebas Neue',  cursive;">Métricas relacionadas a esta origem atualmente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="botao-fechar-view-metric-origin">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container-fluid" style="padding: 5%;justify-content: center; text-align: center ">

                <table class="table table-striped" style="margin: 0 auto; border-collapse: collapse; overflow-x: auto; overflow-y: auto; padding: 10px; width: 80%; max-width: 1000px;" >
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" style="font-family: 'Bebas Neue', cursive; font-size: 25px; justify-content: center; text-align: center">Métrica</th>
                                    <th scope="col" style="font-family: 'Bebas Neue', cursive; font-size: 25px; justify-content: center; text-align: center">Projeto</th>
                                    <th scope="col" style="font-family: 'Bebas Neue', cursive; font-size: 25px; justify-content: center; text-align: center">Qtd infos cadastradas</th>
                                </tr>
                            </thead>
                            <tbody id="list-infos-metrics-origin" style="font-family: 'Signika Negative', sans-serif; font-size: 1.2em">


                            </tbody>
                </table>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="font-family: 'Signika Negative', sans-serif;" data-dismiss="modal" id="botao-cancelar-view-metric-origin">Sair</button>
      </div>
    </div>
  </div>
</div>

