    <div class="modal fade" id="authWarning" tabindex="-1" role="dialog" aria-labelledby="authWarning" aria-hidden="true">
      <div class="modal-dialog" role="document" style="">
        <div class="modal-content" style="color: white;   background-image: linear-gradient(to left top, #ffd200, #e7b500, #ce9901, #b47e03, #996503);">
          <div class="modal-header" style="color: white;  background-image: linear-gradient(to left top, #ffd200, #e7b500, #ce9901, #b47e03, #996503);">
            <h5 class="modal-title" id="authWarning-titulo" style="font-family: 'Bebas Neue', cursive; justify-content: center;font-size: 2em; text-align: center">Atenção!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="botao-fechar-authWarning">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-color: white; color: black">
              <p style="font-family: 'Signika Negative', sans-serif;">Usuário já cadastrado no sistema. </p>
          </div>
          <div class="modal-footer" style="background-color: white; color: black;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="botao-cancelar-authWarning" style="font-family: 'Signika Negative', sans-serif;; background-image: linear-gradient(to left top, #03133e, #0a0f32, #0c0a26, #09051b, #02000e);">OK!</button>
          </div>
        </div>
      </div>
    </div>
